<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training Info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #fce4ec;">
    <div class="container mt-5">
        <h2 class="text-center">Détails du Training</h2>
        <table class="table table-bordered mt-4">
            <tr>
                <th>Training Name</th>
                <td>{{ training.training_name }}</td>
            </tr>
            <tr>
                <th>Training Type</th>
                <td>{{ training.training_type }}</td>
            </tr>
            <tr>
                <th>Duration (minutes)</th>
                <td>{{ training.training_duration }}</td>
            </tr>
            <tr>
                <th>Calories</th>
                <td>{{ training.training_calories }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ training.training_date }}</td>
            </tr>
        </table>
        <a href="{% url 'training_show' %}" class="btn btn-primary mt-3">⬅ Retour à la liste</a>
        <a href="{% url 'training_update' training.pk %}" class="btn btn-primary mt-3">⬅ Modifier</a>
        <a href="{% url 'training_delete' training.pk %}" class="btn btn-primary mt-3">⬅ Supprimer</a>


    </div>
</body>
</html>
